.content-container{
    display: flex;
    flex-direction: row;
    padding: 5%;


}

.left-col{
    width:45vw;
    height: 45vh;
    margin-left: 45px;
    margin-right: 50px;
    
}
.right-col{
    width:45vw;
    height:45vh;
}
.game-img{
    height: 45vh;
    width: 45vw;
    border-radius: 15px;
}